name{color:red;font-size:19px;font-family:"Times New Roman",Times,serif;font-weight:bold;display:block;}
designation{color:blue;font-size:16px;font-family:"Arial Verdana";font-weight:italic;display:block;}
contact{color:green;font-size:17px;font-family:"Arial Verdana";font-weight:normal;display:block;}
dob{color:#c71585;font-size:16px;font-family:"Arial Verdana";font-weight:italic;display:block;}
address{color:#808080;font-size:18px;font-family:"Arial Verdana";font-weight:bold;display:block;}
experience{color:#800080;font-size:16px;font-family:"Arial Verdana";font-weight:italic;display:block;}